body{
    /*background-color: black !important;*/
}

#main_heading {
    text-align: center;
    font-weight: bold;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
     -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 1300px;
    height: 1300px;
    background-image: url("https://gl.githack.com/renarration/graphic-organizer-tool/raw/master/src/images/5w1h.png");
    background-repeat:no-repeat;
    background-size: 1248px 1362px;
    margin:auto;
    opacity: 0.9;
}

.flex-item {
    width: 400px;
    height: 400px;
    margin: 10px;
    border-radius: 214px;
    padding: 20px;
    width: 385px;
    height: 370px;
    opacity: 0.9;
}

.item1 {
    background-color: #f6991d;
}

.item2 {
    background-color: #359bf3;   
}

.item3 {
    background-color: #e69ba8;
}

.item4 {
   background-color: #ded467;
}

.item5 {
    background-color: #AAB6C0;
}

.item6 {
    background-color: #f5cb94;
}

ol{
    list-style-type:disc;
    font-weight: bold;
    font-size: 127%;
}
p{
    font-size: 180%;
}
