body{
	background-color: black !important;
}
#main_heading {
	text-align: center;
	font-weight: bold;
    color: white;
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
    width: 810px;
    height: 800px;
    margin: auto;
    background-image: url("https://gl.githack.com/renarration/graphic-organizer-tool/raw/master/src/images/swot.jpeg");
	background-repeat:no-repeat;
	background-size: 800px 800px;	
}
.flex-item {
    width: 330px;
    height: 350px;
    margin: 30px;
    padding: 2px; 
    overflow: auto;
    border: 3px solid white;
    border-radius: 25px;
    opacity: 0.5
}
#strength_flex_box{
    background-color: #f9e5c1;
}
#weakness_flex_box{
    background-color: #97e397;
}
#opportunity_flex_box{
    background-color: #b8c8e4;
}
#threat_flex_box{
    background-color: #8f606d;  
}
ol{
	list-style-type:disc;
    font-weight: bold;
    font-size: 127%;
}